language: cpp

git:
  depth: false

matrix:
  include:
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
            - curl
            - yasm
      env:
        - MATRIX_EVAL="export CC=gcc-7 && export CXX=g++-7"
    - os: osx
      osx_image: xcode9.2
      before_install:
        - brew update
        - rm '/usr/local/include/c++'
        - brew install gcc curl yasm
        - eval "${MATRIX_EVAL}"
        - $CC --version
        - $CXX --version
      env:
        - MATRIX_EVAL="export CC=gcc && export CXX=g++"
    - os: linux
      addons:
        apt:
          sources:
            - llvm-toolchain-trusty-5.0
          packages:
            - clang-5.0
            - curl
            - yasm
      env:
        - MATRIX_EVAL="export CC=clang-5.0 && export CXX=clang++-5.0"

before_install:
  - eval "${MATRIX_EVAL}"
  - $CC --version
  - $CXX --version

install:
  - curl http://mpir.org/mpir-3.0.0.tar.bz2
  - tar -xfj mpir-3.0.0.tar.bz2
  - rm mpir-3.0.0.tar.bz2
  - cd mpir-3.0.0
  - ./configure
  - make
  - make install
  - cd ..
  - ./gradlew --console=plain

script:
  - ./gradlew --console=plain assemble
  - ./gradlew --console=plain check

after_failure:
  - shopt -s globstar
  - shopt -s nullglob
  - tail -n +1 **/build/tmp/*{Library,Executable}/*.txt 

